{% extends "base.html" %}

{% block content %}

<h1> Your 12 Season Color Palette:</h1>
<h1>Your Season is {{color_season}}</h1>






<h3>Here is the face identified:</h3>
{% if filename1 %}
    <img src="{{url_for('get_file', filename=filename1) }}">
    <p>{{ filename1 }}</p>
    </div>
{% endif %}
<h3>Here is the skin extracted:</h3>
{% if filename2 %}
    <img src="{{url_for('get_file', filename=filename2) }}">
    <p>{{ filename2 }}</p>
    </div>
{% endif %}
<h3>Here is the dominant colors:</h3>
{% if filename3 %}
    <img src="{{url_for('get_file', filename=filename3) }}">
    <p>{{ filename3 }}</p>
    </div>
{% endif %}

<h3>Your skin color </h3>
{% if actualskincolor == "fair" or actualskincolor == "light" or actualskincolor == "dark" or actualskincolor == "deep" %}
    {{actualskincolor}}
{% else %}
    You are {{val}} for {{actualskincolor}} skin. 
{% endif %}
<div><h3> Your Colour Dimensions </h3></div>
<div><p>Note: Your hue score ranges from 0 to 1</p></div>

<div><p>Your hue is {{hue}} with a score of {{huescore}}</p></div>
<div><p>Your value is {{val}} with a score of {{valscore}}</p></div>
<div><p>Your chroma is {{sat}} with a score of {{satscore}}</p></div>

<div><h3> Your primary characteristic </h3></div>
{{primary}}
<div><h3> Your secondary characteristic </h3></div>
{{secondary}}




{% endblock %}