{% extends "base.html" %}

{% block content %}
    <h1>Hi, Welcome to the 12 Seasons Color Pallette!</h1>
    <div><p>Insert your photo here</p></div>
    <div>Pig Latin Translator: <a href="/text">Translate now!</a></div>
    <div>Image Pixel Inverter: <a href="/image">Invert now!</a></div>
    <!doctype html>
    <title>Color Inverter</title>
    <h2>Upload an image and we'll invert the colors!</h1>
    <form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
      
    </form>

   

{% endblock %}